@font-face {
  font-family: DinCondensed;
  src: url('DINCondensed-Bold.ttf')
}

@font-face {
  font-family: Ailerons;
  src: url('Ailerons-Typeface.ttf')
}

@font-face {
  font-family: Avenir;
  src: url('Avenir_Light.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f6f6f6;
  background-image: url('../img/mountain1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  font-family: sans-serif;
  color: white;
  padding: 1em;
}

main {
  background-color: #9db6bcde;
  padding: 1em;
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-family: DinCondensed, serif;
  font-size: 17vw;
  text-transform: uppercase;
  text-align: center;
  margin: 5vw 0 0 0;
  padding: 0;
  color: #3a4e55;
}

h2 {
  font-family: Ailerons, sans-serif;
  font-size: 5.5vw;
  color: #3a4e55;
  text-align: center;
  margin: 0 0 10vw 0;
  padding: 0;
}

h3 {
  font-family: DinCondensed, serif;
  font-size: 3em;
  color: #c7814a;
}

h4 {
  font-family: DinCondensed, serif;
  font-size: 2em;
  color: #ffffff;
}

p {
  font-family: Avenir, sans-serif;
  color: #ffffff;
  font-size: 1em;
}

ul {
  margin: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#results article {
  border-bottom: 1px solid #ffffff;
  padding: 0em 0 2em 0;
  margin: 2em 0 2em 0;
}

section {
  margin: 1em 0;
}

@media screen and (min-width: 60em) {
  h1 {
    font-size: 11em
  }
  h2 {
    font-size: 3.3em
  }
}